.headers-text {
	text-align: center;
}
.speakers >* , .previous > * {
	text-align: center;
	margin-top: 0;
	/*margin: 0;*/
}
.profile {
	margin-left: 6%;
	padding: 0;
	/*padding-right: 0;*/
	/*margin-left: 0px;*/
}
.profile > img {
	width: 100%;
	height: 100%;
}
.profile > p {
	font-size: 120%;
}
.speakers-row {
	margin-left: 13%;
}
.profile-all , .headers-text {
	width: 100%;
	color: white;
	/*left: 4%;*/
}
.team  , .speakers{
	/*margin-left: 2%;*/
	overflow-y: hidden;
    overflow-x: hidden;
}
.mustering {
	margin-left: 10px;
	margin-right: 80px;
}
.mustering > p  , .tab-pane  > p {
	font-size: 80%;
}
.mustering > h1  {
	font-size: 170%;
}
.about-tedx {
	font-size: 150%;
	font-weight: bold;
	cursor: pointer;
}
.tab-pane {
	font-size: 100%;
	padding: 20px;
	border: 4px solid white;
}
.slideanim {visibility:hidden;
	overflow-y: hidden;
	overflow-x: hidden;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
  overflow-y: hidden;
  overflow-x: hidden;
}
@keyframes slide {
	0% {
	  opacity: 0;
	  transform: translateY(70%);
	} 
	100% {
	  opacity: 1;
	  transform: translateY(0%);
	}
	}
	@-webkit-keyframes slide {
	0% {
	  opacity: 0;
	  -webkit-transform: translateY(70%);
	} 
	100% {
	  opacity: 1;
	  -webkit-transform: translateY(0%);
	}
}