@font-face {
	font-family: roboto;
	src: url(robotolight.ttf);
}
body, html {
	width: 100%;
	overflow-y: hidden;
	margin: 0px;
	padding: 0px;
	font-family: roboto;
}
#home {
	margin: 0px;
	padding: 0px;
	background: #000066;
	width: 100%;
	min-height: 100vh;
	color: #ffffff;
	padding: 7.5% 100px;
}
.info > * {
	margin-top: 40px;
	margin-bottom: 40px;
}
#home > .info > ul {
	list-style-type: none;
	padding: 0px;
}
#home > .info >  ul > li {
	display: inline;
}
#date, #venue {
	font-size: 2.5rem;
	padding: 10px 10px;
	font-weight: lighter;
	color: rgb(210, 210, 210);
	width: 1% !important;
}
#date {
	border: 0px solid rgb(210, 210, 210);
	border-right-width: 1px;
}
#time-left {
	text-align: center;
	width: 20%;
	padding: 10px 10px;
	border: 0px solid #ffffff;
	border-top-width: 1px;
	border-bottom-width: 1px;
}